include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include sofar/sofa_conventions/source *.csv
recursive-include sofar/sofa_conventions/json *.json
recursive-include sofar/sofa_conventions/rules *.json
